header, main {

    display: block;

}

body {

    overflow-y: auto;
    background-color: aliceblue;

}

#wrap {

    width: 100%;
    height: 100px;
    background: darkturquoise url("../images/cross.png") no-repeat 3% 50%;
    position: fixed;
    z-index: 10;

}

#drugs_count {

    width: 150px;
    position: absolute;
    top: 110px;
    right: 80px;

}

.title {

    font-size: 40px;
    color: #ffffff;
    padding-top: 15px;
    margin-left: 130px;

}

#user_logout {

    top: 30px;
    right: 50px;
    position: absolute;

}

#sorted_dropdown {

    position: absolute;
    top: 110px;
    left: 60px;

}

#button_add {

    position: absolute;
    top: 110px;
    left: 250px;

}

#button_all {

    position: absolute;
    top: 110px;
    left: 190px;

}

#button_back {

    position: absolute;
    top: 30px;
    right: 250px;

}

#basic_content {

    position: absolute;
    top: 155px;
    left: 60px;

}

#image {

    width: 20px;
    height: 20px;

}

.table_blur {

    background: #f5ffff;
    border-collapse: collapse;
    text-align: left;
    position: relative;

}

.table_blur th {

    border-top: 1px solid #777777;
    border-bottom: 1px solid #777777;
    box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
    background: linear-gradient(#9595b6, darkturquoise);
    color: white;
    padding: 10px 15px;
    position: relative;
    width: 200px;

}

.table_blur th:after {

    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 25%;
    height: 25%;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255,255,255,.08));

}

.table_blur tr:nth-child(odd) {

    background: #ebf3f9;

}
.table_blur th:first-child {

    border-left: 1px solid #777777;
    border-bottom:  1px solid #777777;
    box-shadow: inset 1px 1px 0 #999999, inset 0 -1px 0 #999999;

}
.table_blur th:last-child {

    border-right: 1px solid #777777;
    border-bottom:  1px solid #777777;
    box-shadow: inset -1px 1px 0 #999999, inset 0 -1px 0 #999999;

}
.table_blur td {

    border: 1px solid #e3eef7;
    padding: 10px 15px;
    position: relative;
    transition: all 0.5s ease;

}
.table_blur tbody:hover td {

    color: transparent;
    text-shadow: 0 0 3px #a09f9d;

}
.table_blur tbody:hover tr:hover td {

    color: #444444;
    text-shadow: none;

}